@import "../../index.scss";

.chooserOption {
    @extend .flexRow;
    @extend .center;
    @extend .flex;

    min-height: fit-content;
    font-size: 1em;
    text-align: center;
    border: 0;
    border-radius: 8px;
    border: 2px solid $colorMain;
    padding: 0.5em;
    min-width: 4em;
    appearance: none;
    cursor: pointer;
}
