@import "./variables.module.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: $bodyBg;
}

#root {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  margin: 0.5em 0;
}

h2 {
  font-size: 2.5em;
  line-height: 1;
  margin: 0.2em 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin: 0.2em 0;
}

h4 {
  font-weight: normal;
  line-height: 1;
  margin: 0.2em 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  transition: border-color 0.25s;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex {
  display: flex;
  flex: 1;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
}

.absoluteCenter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.standardBorderRadius {
  border-radius: 20px;
}

.outline {
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

.outline2 {
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 5px);
}

.pill {
  @extend .flexCol;
  @extend .center;
  @extend .standardBorderRadius;
  padding: 0.6em 1.2em;
  box-shadow: 0 0 3px 1px #36393daa;
  background-color: rgba(236, 224, 116, 0.427);
}

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers-Regular.ttf") format("truetype");
}

.win {
  background: radial-gradient(circle at left, rgba(52, 120, 45, 0.5) 0%, rgba(52, 120, 45, 0.5) 20%, rgba(74, 0, 255, 0) 100%);
}

.loss {
  background: radial-gradient(circle at left, rgba(107, 25, 30, 0.5) 0%, rgba(107, 25, 30, 0.5) 20%, rgba(74, 0, 255, 0) 100%);
}

.draw {
  background: radial-gradient(circle at left, rgba(143, 157, 17, 0.5) 0%, rgba(143, 157, 17, 0.5) 20%, rgba(74, 0, 255, 0) 100%);
}