:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #242424;
  background: rgb(11, 9, 61);
  background: linear-gradient(193deg, rgb(3, 3, 11) 0%, rgb(26, 30, 55) 70%, rgb(33, 18, 68) 100%);
}

#root {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5em 0;
}

h2 {
  font-size: 2.5em;
  margin: 0.2em 0;
}

h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
}

h4 {
  font-weight: normal;
  margin: 0.2em 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  transition: border-color 0.25s;
  margin: 0;
  padding: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex {
  display: flex;
  flex: 1;
}

.flexRow {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.absoluteCenter {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pill,
.navbar {
  @include flexCol;
  @include center;
  border-radius: 20px;
  padding: 0.6em 1.2em;
  box-shadow: 0 0 3px 1px #36393daa;
}

.pill {
  border-radius: 20px;
  background-color: rgba(66, 66, 76, 0.8);
}

.button,
.bigButton {
  transition: 200ms;
}

.buttonInner {
  @include flex;
  @include center;
  font-weight: "bold";
  z-index: 1;
  width: 100%;
  transition: inherit;
  border-radius: inherit;
}

.button {
  border-radius: 8px;
}

.button>.buttonInner {
  background-color: rgba(66, 66, 76, 0.8);
}

.bigButton {
  @include flexCol;
  @include center;
  position: relative;
  border-radius: 8px;
  min-height: 4em;
  color: black;
}

.colorfulBorder::before {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  animation: ease-in-out 2s infinite alternate show;
  background: linear-gradient(225deg,
      #ff0000,
      #ff9900,
      #ffff00,
      #33cc33,
      #3399ff,
      #6600cc);
  z-index: -1;
  border-radius: inherit;
}

.colorfulBorder::after {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  animation: ease-in-out 2s infinite alternate hide;
  background: linear-gradient(45deg,
      #ff0000,
      #ff9900,
      #ffff00,
      #33cc33,
      #3399ff,
      #6600cc);
  z-index: -1;
  border-radius: inherit;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.bigButton:active {
  transform: scale(0.9);
  background-color: #b8b1bb;
}

.bigButton>.buttonInner {
  background-color: #fdf9ff;
}

.buttonInner>div {
  padding: 0.6em 1.2em;
}

.navbar {
  @include flexRow;
  @include absoluteCenter;
  flex: 0;
  background-color: rgb(76, 75, 99, 0.8);
  justify-content: space-between;
  height: 4em;
  padding: 0.6em 0;
  width: 90%;
  bottom: 1em;
}

.navbar img {
  transition: 200ms;
}

.navbar img:hover {
  filter: drop-shadow(0 0 0.75em #61dafbaa);
}

.navbar img:active {
  filter: drop-shadow(0 0 0.5em #61dafbff);
}

.divider {
  border-left: 1px solid #AAAAAA;
  height: 100%;
  width: 0;
}

.selectable {
  flex: 1;
}

.rps {
  height: 40vw;
  will-change: filter;
  transition: filter 300ms;
}

.rps:hover {
  animation: shake 100ms linear infinite alternate;
}

@keyframes shake {
  from {
    transform: translateX(-3vw);
  }

  to {
    transform: translateX(3vw);
  }
}

.rock:hover {
  filter: drop-shadow(0 0 2em #a8a8b8aa);
}

.paper:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.scissors:hover {
  filter: drop-shadow(0 0 2em #30303dff);
}

.win {
  background: radial-gradient(circle at left, rgba(52, 120, 45, 0.5) 0%, rgba(52, 120, 45, 0.5) 20%, rgba(74, 0, 255, 0) 100%);
}

.loss {
  background: radial-gradient(circle at left, rgba(107, 25, 30, 0.5) 0%, rgba(107, 25, 30, 0.5) 20%, rgba(74, 0, 255, 0) 100%);
}

.draw {
  background: radial-gradient(circle at left, rgba(143, 157, 17, 0.5) 0%, rgba(143, 157, 17, 0.5) 20%, rgba(74, 0, 255, 0) 100%);
}