$colorMain: #AB3130;
$colorMain2: #FFD700;
$colorMain3: #fff9cb;
$colorFgLight: #FEE750;
$colorFgDark: black;

$colorBigButton: white;

$bodyBg: $colorMain;

$welcomePageBg: linear-gradient(193deg, $colorMain 0%, #1272d2 80%, #1272d2 100%);
$brLobbiesBg: $colorMain;
$brLobbyHeaderBg: $colorMain3;
$brLobbyHeaderFg: black;
