@import "../../index.scss";

.items {
  @extend .flex;
  @extend .center;
  @extend .absoluteCenter;

  position: absolute;
  overflow: hidden;
}

.item {
  @extend .flexCol;
  @extend .center;

  position: absolute;
  width: 5em;
  height: 6em;
  font-size: 1.2em;
  will-change: transform, filter;
  transition: transform 300ms, filter 200ms;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

.itemClickable {
  cursor: pointer;
}

.rps {
  height: 60%;
}

.rps:hover {
  animation: shake 300ms linear infinite;
}

@keyframes shake {
  from {
    transform: translateX(0vw);
  }

  25% {
    transform: translateX(3vw);
  }

  50% {
    transform: translateX(0vw);
  }

  75% {
    transform: translateX(-3vw);
  }

  to {
    transform: translateX(0vw);
  }
}

$color-rock: rgb(204, 111, 97);
$color-paper: rgb(215, 203, 99);
$color-scissors: rgb(116, 161, 220);

.rock {
  //background-color: $color-rock;
}

.rock:hover {
  filter: drop-shadow(0 0 1em $color-rock);
}

.paper {
  //background-color: $color-paper;
}

.paper:hover {
  filter: drop-shadow(0 0 1em $color-paper);
}

.scissors {
  //background-color: $color-scissors;
}

.scissors:hover {
  filter: drop-shadow(0 0 1em $color-scissors);
}

.divider {
  border-left: 1px solid #AAAAAA;
  height: 100%;
  width: 0;
}

.table {
  width: 8em;
  height: 8em;
  border-radius: 10px;
  border: 5px solid rgb(51, 92, 215);
  background-color: rgb(15, 38, 107);
  background: radial-gradient(circle, rgb(15, 38, 107) 0%, rgb(14, 34, 95) 50%);
  margin: 0.5em;
}
