@import "../../index.scss";

.comingSoonBanner {
  @extend .absolute;
  width: 2em;
  height: 2em;
  right: 0.2em;
  top: 0.2em;
  transform: rotate(10deg);
}

button:disabled:active {
  transform: initial;
}

.buttonInner,
.buttonInnerBgDarken {
  @extend .flex;
  @extend .center;
  width: 100%;
  height: 100%;
  transition: inherit;
  border-radius: inherit;
  font-weight: bold;
  z-index: 1;
}

.buttonInnerBgDarken:hover {
  background-color: #00000011;
}

.buttonInnerBgDarken>div {
  padding: 0.6em 1.2em;
}

// normalButton

.normalButton {
  border-radius: 8px;
  transition: 200ms;
}

.normalButton>.buttonInner {
  //background-color: rgba(66, 66, 76, 0.8);
  background-color: $colorMain2;
  color: $colorFgDark;
}

// big button

.bigButton {
  @extend .flexCol;
  @extend .center;
  position: relative;
  border-radius: 8px;
  min-height: 4em;
  color: $colorFgDark;
  transition: 200ms;
}

.bigButton>.buttonInner {
  //background-color: #fdf9ff;
  background-color: $colorBigButton;
}

.bigButton:active {
  transform: scale(0.9);
}

// accept button

.acceptButton {
  @extend .normalButton;
  background-color: #33cc33;
  box-shadow: 1px 1px 2px 2px rgba(66, 66, 66, 0.5);
}

.acceptButton:active {
  transform: scaleX(1.04) scaleY(0.85);
}

.colorfulBorder {
  z-index: 1;
}

// cancel button

.cancelButton {
  @extend .normalButton;
  box-shadow: 1px 1px 2px 2px rgba(66, 66, 66, 0.5);
}

.cancelButton:active {
  transform: scale(0.9);
}

// rainbow border

.colorfulBorder::before {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  animation: ease-in-out 2s infinite alternate show;
  background: linear-gradient(225deg,
      #ff0000,
      #ff9900,
      #ffff00,
      #33cc33,
      #3399ff,
      #6600cc);
  z-index: -1;
  border-radius: inherit;
}

.colorfulBorder::after {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  animation: ease-in-out 2s infinite alternate hide;
  background: linear-gradient(45deg,
      #ff0000,
      #ff9900,
      #ffff00,
      #33cc33,
      #3399ff,
      #6600cc);
  z-index: -1;
  border-radius: inherit;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}