@import "../../index.scss";

$shake-angle: 10deg;

.logoOuter {
    padding: 1em 2em;
    //filter: drop-shadow(0 0 2.5em rgba($colorMain3, 0.8));
    background-position: center;
    background-size: contain;
    background-size: 85% 85%;
    background-repeat: no-repeat;
}

.logoInner {
    animation: ease-in-out 5s infinite shakey;
}

.logoImg {
    animation: ease-in-out 2.5s infinite alternate bigSmall;
}

@keyframes shakey {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate($shake-angle);
    }

    4% {
        transform: rotate(-$shake-angle);
    }

    6% {
        transform: rotate($shake-angle);
    }

    8% {
        transform: rotate(0deg);
    }
}

@keyframes bigSmall {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

.logoImg {
    width: 80%;
}