@import "../../index.scss";

.matchFoundOverlay {
    @extend .absolute;
    @extend .absoluteCenter;
    @extend .flex;
    @extend .center;
    @extend .outline;

    z-index: 1;
    transition-timing-function: cubic-bezier(0, 1.0, 1, 0.0);
}

.matchFoundText {
    background: radial-gradient(closest-side, rgba(143, 141, 136, 0.8), rgba(180, 180, 174, 0.5), transparent);
    background-position: center;
    background-size: contain;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    padding: 1em;
    font-family: "Bangers";
    color: $colorFont;
}
